@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo-icon {
    font-weight: 900;
    font-size: 32px;
    margin-top: 3px;
    color:black;
}

h1{
    font-weight: 200;
    font-family: 'Rowdies', cursive;
    color:black;
}

h4 {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Rowdies', cursive;
}
p{
    color: black;
}

i {
    margin-right: 10px;
}

ul {
    margin-top: 10px;
}

  /* --------------------------Header-part------------------- */

.logo {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Rowdies', cursive;
    color:black;

}

.about-text {
    color: black;
}

.under-line {
    text-decoration: none;
}

.fa-brands {
    color: rgb(10, 2, 2);
    font-size: 30px;
    margin-top: 15px;
}

.fa-brands:hover {
    transform: translateY(-10px);
    transition: 0.5s;

}


.effect:hover{
    transform: translateY(-15px);
    transition: 0.5s;
    
}

.wave-image{
    width: 100%;
}

/* ----------------------main-part---------------- */

.main-container{
    background-image:linear-gradient(to left, purple, yellow);
}
.nav-color{
    background-image:linear-gradient(to left, purple, yellow);
}
.main-paragraph{
    color: black;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 58px;
    margin-top: 29px;
}


/* -------------------------------Team-Part */

#team {
    margin: 100px 0;
}

.container-team{
    background-color:#fff ;
}

.team {
    border-left: 6px solid #121211;
    margin-top: 50px;
    margin-bottom: 50px;

}

.team img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 10px;

}

.user-details {
    display: inline-block;
    font-size: 12px;

}

/* --------------------fotter-part------------------- */

#fotter {
    background-image:linear-gradient(to left, purple, yellow);
    color: #fff;

}

.fotter-img {
    width: 100%;
}

.fotter-box {
    padding: 20px;
}

.fotter-box img {
    width: 120px;
    margin-bottom: 20px;

}

.fa-solid {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image:linear-gradient(to right, purple, yellow);

}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-outline-dark{
   
    margin-top: 30px;
    
}

hr{
    background-color: #fff;

}
.copy-rigt{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;

}





